<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action=    "" method="post">
        {% csrf_token %}
    <table>
        <tr>
            <td>Number 1</td>
            <td><input type="text" name="txtnum1" id=""></td>
        </tr>
        <tr>
            <td>Number 2</td>
            <td><input type="text" name="txtnum2" id=""></td>
        </tr>
            </tr>
            <tr>
                <td>result</td>
                <td>
                    {{result}}
                </td>
            </tr>
    </table>
  </form>
</body>
</html>
